*, ::after, ::before {
  box-sizing: border-box;
}
body, body > div {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
body > div {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 0 1rem;
}
main {
  flex-grow: 1;
  display: grid;
  grid-template-areas:
    "search"
    "commander"
    "deck"
    "info";
}
@media (min-width: 800px) {
  main {
    grid-template-areas:
      "search commander"
      "deck deck"
      "info info";
    grid-template-columns: 1fr minmax(25vh, auto);
  }
}
@media (min-width: 1000px) {
  main {
    grid-template-areas:
      "search deck commander"
      "search info info";
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 1fr minmax(10vh, auto);
  }
}
input {
  width: 100%;
}
img {
  max-width: 100%;
}
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
menu button {
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: none;
}
menu button:hover {
  background-color: white;
  cursor: pointer;
}
#search {
  grid-area: search;
  background-color: red;
}
#search .search-result img {
  display: none;
}
#search .search-result:hover img {
  display: block;
}
#search .search-result:hover span {
  display: none;
}
#deck {
  grid-area: deck;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}
#deck div {
  flex: 1;
}
#deck div img + img {
  margin-top: -120%;
}
#deck div img:hover + img {
  margin-top: -5%;
}
@media (max-width: 800px) {
  #deck div {
    flex-basis: 33%;
  }
}
@media (max-width: 550px) {
  #deck div {
    flex-basis: 50%;
  }
}
@media (max-width: 400px) {
  #deck div {
    flex-basis: 100%;
  }
  #deck div img:not(:nth-child(2)) {
    margin-top: -95%;
  }
}
#commanders {
  grid-area: commander;
  background-color: green;
}
#info {
  grid-area: info;
  background-color: lightblue;
}
#search, #deck, #commanders {
  padding: 1rem;
}
img.card {
  border-radius: 4%;
}
